<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ch04.dao.master.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.ch04.domain.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>

    <parameterMap id="User" type="com.example.ch04.domain.User"/>

    <sql id="Base_Column_List">
        id, `name`,age
    </sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`
        WHERE `name`= #{name}
    </select>

</mapper>
