<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ch04.dao.cluster.HomeMapper">
    <resultMap id="BaseResultMap" type="com.example.ch04.domain.Home">
        <result column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="desc" property="desc"/>
    </resultMap>

    <parameterMap id="Home" type="com.example.ch04.domain.Home"/>

    <sql id="Base_Column_List">
        id, province, city, `desc`
    </sql>

    <select id="findByCity" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `home`
        WHERE city= #{city}
    </select>

</mapper>
